
<div class="center-align">
  <button class="button button-create">
    <a routerLink="/user-create" routerLinkActive="active">Créer un utilisateurs</a>
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Ville</th>
      <th scope="col">Profil</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="onSelect(user)">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address.city }}</td>
      <td *ngIf="user.actif == true">Activé</td>
      <td *ngIf="user.actif == false">Désactivé</td>
      <td> <button class="button button-delete" (click)="onDelete(user, $event)">
          Supprimer
        </button></td>
    </tr>
  </tbody>
</table>
