<div class="content">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Profil</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>


            <td *ngIf="user.actif==true"> Activé</td>
            <td *ngIf="user.actif==false"> Désactivé</td>
          </tr>
        </tbody>
      </table>
</div>
