.img{
background-image: url("../img/logo.png");
background-size: contain;
background-repeat: no-repeat;
background-color: #FFFFB1;

width: 70px;
height: 70px;
border-radius: 50% 50%;
margin: 0 auto;

}
.align-right{
  padding-right: 20px;
  padding-top: 10px;
}

button {
  border: none;
  background-color: #5DA9D8;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: none;
  background-color: #5DA9D8;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled]{
  border: none;
  background-color: #5DA9D8;
  color: #666666;
}

button:hover {
  border: none;
  background-color: #5DA9D8;
  color: #ffffff;
  padding: 5px 10px;
}
button:focus {outline:0;}

a{
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

